<!doctype html>
{% load static %}

<!-- I don't know what these links do but the header won't work without them -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
<head>
    <link rel="stylesheet" href="{% static 'studybuddy/styles/App.css' %}">
    <title>
        Add Courses
    </title>
</head>

<body>
    {% include 'headerbar.html' %}
    <div class="text-center page-title">
        <h1>Add Courses to Your Profile!</h1>
        <h2>List of UVA Courses:</h2>
        <h3>Enter a course abbreviation number without filtering and click 'Add Course', or click the '+' next to the course you want to add</h3>
    </div>
    
    {% load crispy_forms_tags %}

    <form method="POST" class="form-inline spacer justify-content-center text-center">
        <div class="form-group mx-sm-3 mb-2 subheader spacer justify-content-center text-center">
            {% csrf_token %}
            <label class="mb-2">
                Course Abbreviation: 
                <input class="form-control mb-2" type="text" name="courseAb" />
            </label>
            <button class="btn btn-primary mb-2" type="submit" value="Filter" name="Filter">
                Filter
            </button>
            <button class="btn btn-danger mb-2" type="submit" value="Reset Search" name="Reset Search">
                Reset Search
            </button>
        </div>
        <div class="form-group mx-sm-3 mb-2 subheader text-center spacer">
            <label class="mb-2">
                Course Number: 
                <input class="form-control mb-2" type="text" name="courseNumb" />
            </label>
            <button class="btn btn-success mb-2" type="submit" value="Add Course" name="Add Course">
                Add Course!
            </button>
        </div>
        <div class="text-center">
            {% if addedSuccess and not dupCourse %}
                <p class="page-text" style="color:green">Course Added Successfully! Check it out on your <a href="/profile">profile page</a>!</p>
            {% endif %}
            {% if dupCourse%}
                <p class="page-text" style="color:dodgerblue">Course is already added!</p>
            {% endif %}
        </div>
    </form>

    <form method="POST">
        {% csrf_token %}

        {% for i in allCourses %}
            <ul class="justify-content-center">
                <div class="container subheader justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-md-auto mb-2">
                            <p>{{i.courseAbbv}} {{i.courseNumber}}: {{i.courseTitle}}</p>
                        </div>
                        <div class="col-md-auto mb-2 align-items-start">
                            <button name="{{i.courseAbbv}}" value={{i.courseNumber}} class="btn btn-success" style="height: fit-content;">
                                +
                            </button>
                            <!-- <button><i class="bi bi-trash"></i></button> -->
                        </div>
                    </div>
                </div>
            </ul>
        {% endfor %}
    </form>
</body>