<!doctype html>
{% load static %}
<!-- I don't know what these links do but the header won't work without them -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

<!-- https://stackoverflow.com/questions/48682982/django-cannot-find-static-css-files-error-404 -->
<head>
    <link rel="stylesheet" href="{% static 'studybuddy/styles/App.css' %}">
    <title>
        Calendar
    </title>
</head>

<!-- https://support.google.com/calendar/answer/41207?hl=en -->

<body>
    {% include 'headerbar.html' %}
    <div class="text-center page-title">
        <h1>View upcoming study events!</h1>
        <h4>
            <a href="/studysession">Create a new session here!</a>
        </h4>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=Y19ja2J1M3RxcmJpMmsyNzZyaW5ycWZvODllb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" class="spacer"></iframe>
    </div>
</body>

