<!doctype html>
{% load static %}
<!-- I don't know what these links do but the header won't work without them -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

<!-- https://stackoverflow.com/questions/48682982/django-cannot-find-static-css-files-error-404 -->
<head>
    <link rel="stylesheet" href="{% static 'studybuddy/styles/App.css' %}">
</head>


<body>
    {% include 'headerbar.html' %}
    <h1>Find Buddies</h1>
    <form method="POST">
        {% csrf_token %}
        Course Abbreviation: <input name="courseAb" />
        Course Number: <input name="courseNumb" />
        <input type="submit" value="Filter Buddies" name="Find Buddy" />
        <input type="submit" value="Reset Search" name="Reset Search" />
    </form>
    <div class="d-flex justify-content-center">
        <ul>
            {% for buddy in allProfiles %} <!--this is name of context_object_name from the dplist view-->
            <li>
                {{buddy.user.username}}, {{buddy.about}}, {{buddy.major}} Classes:
                {% for i in buddy.courses.all %}
                    {{i.courseAbbv}} {{i.courseNumber}}, 
                {% endfor %}
            </li>
            {% endfor %}
        </ul> 
    </div>
</body>