<!doctype html>
{% load static %}

<!-- I don't know what these links do but the header won't work without them -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

<!-- https://stackoverflow.com/questions/48682982/django-cannot-find-static-css-files-error-404 -->
<head>
    <link rel="stylesheet" href="{% static 'studybuddy/styles/App.css' %}">
    <title>
        Home
    </title>
</head>


<body>
    {% include 'headerbar.html' %}
    <div class="text-center">
        <div class="page-title display-1 spacer">
            {% if request.user.is_authenticated %}
                Welcome to Study Buddy, <a class="text-link" href="{% url 'profile' %}"> {{ user.user.first_name }}</a>!
            {% else %}
                Welcome to Study Buddy! Please <a href="/accounts/login">log in or create an account</a>.
            {% endif %}
        </div>

        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/tronc/7OMMRIZTZRG5PLAEMG7UEHBKWY.jpg" class="rounded mx-auto d-block pb-3 pt-3" width="40%">
    </div>
</body>
